<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.video.mapper.VideostateMapper">
    <resultMap id="BaseResultMap" type="com.example.video.model.Videostate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="cssstyle" jdbcType="VARCHAR" property="cssstyle"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
</mapper>